<div class="row justify-content-center">
  <div class="col-sm-12 col-xl-10">
    <h3 class="text-left mb-2">Ajouter un nouveau produit</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-7 form-group">
          <label for="name" class="form-label">Nom*</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Nom du produit..."
            ngModel
            required
            #name="ngModel">
          <span class="help-block text-danger" *ngIf="!name.valid && name.touched">Entrez un nom de produit</span>
        </div>
        <div class="col-sm-5 form-group">
          <label for="category" class="form-label">Catégorie*</label>
          <select
            class="form-control"
            id="category"
            name="category"
            required
            ngModel
            #category="ngModel">
            <option *ngFor="let category of categories">{{category.name}}</option>
          </select>
          <span class="help-block text-danger" *ngIf="!category.valid && category.touched">Choisissez une catégorie</span>
        </div>
        <div class="col-xl-12 form-group">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="description"
            placeholder="Description du produit..."
            [(ngModel)]="description"
            maxlength = "255"
            class="form-control"
            aria-describedby="descriptionHelp"
            rows="2"></textarea>
          <small id="descriptionHelp" class="form-text text-muted"><em>{{ 255 - description?.length }} caractères restants</em></small>
        </div>
        <div class="col-md-2 form-group">
            <label for="price" class="form-label">Prix en €*</label>
            <input
              type="number"
              step="0.01"
              min="0"
              id="price"
              name="price"
              placeholder="10.5"
              class="form-control"
              oninput="validity.valid || (value='');"
              ngModel
              required
              #price="ngModel">
            <span class="help-block text-danger text-justify" *ngIf="!price.valid && price.touched">Entrez un prix au moins égal à 0</span>
        </div>
        <div class="col-md-3 form-group">
          <label for="image" class="form-label">Url Photo</label>
          <input
            type="text"
            id="image"
            name="image"
            placeholder="Insérez l'url"
            class="form-control"
            ngModel #image="ngModel">
        </div>
        <div class="col-md-7 form-group">
          <img *ngIf="image.value"
               [src]="image.value"
               alt="Image produit"
               class="img-thumbnail img-rounded">
        </div>
      </div>
      <button class="btn btn-success mr-1" type="submit" [disabled]="!f.valid">Enregistrer</button>
      <button class="btn btn-danger" type="button" (click)="onClear()">Clear</button>
    </form>
  </div>
</div>
<hr>
<div class="row" *ngIf="newProduct">
  <div class="col-md-10 col-xs-12">
    <h3 class="text-left">Mes Produits</h3>
    <p>Nom: {{newProduct?.name}}</p>
    <p>Catégorie: {{newProduct?.category}}</p>
    <p>Description: {{newProduct?.description}}</p>
    <p>Prix: {{newProduct?.price}}€</p>
    <p>Url: {{newProduct?.image}}</p>
  </div>

</div>
