.card-text {
  color: rgb(130,130,133);
  font-size: smaller;
}

.clickable-card h5 {
  color: black;
}

.clickable-card:hover {
  text-decoration: none;

}

.clickable-card:hover div {
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.card-disabled {

}

.badge {
  position: absolute;
}
