/* You can add global styles to this file, and also import other style files */
.form-label{
  font-weight: 600;
}

fa-icon{
  color: rgb(106, 115, 125);
}

fa-icon:hover{
  color: rgb(3, 102, 214);
  cursor: pointer;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched{
  border: 1px solid red;
  box-shadow: 0 0 5px red;
}

.jumbotron {
  padding: 2rem;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.hover-underline:hover:after{
  width: 95%;
}

.hover-underline:after{
  content: "";
  display: block;
  width: 0;
  margin-left: 3px;
  margin-right: 2px;
  padding-top: 2px;
  border-bottom: 1px solid #ced4da;
  transition: 0.8s;
}
