.shopping-cart {
  display: block;
  position: absolute;
  top: -1px;
  width: 100%;
  right: 0;
  background-color: #fff;
  border-radius: 0 0 2px 2px;
  box-shadow: 0 22px 24px 0 rgba(46,51,51,0.07);
}
